.list{
    list-style: none;
}

.items{
    font-weight: 500;
    font-style: 18px;
    margin-bottom: 10px;
}

.link{
    text-decoration: none;
    color: #191d1e;

    &:hover{
        color: red;
    }
}

.btn{
    cursor: pointer;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px;
}

.btn:hover{
    color:aliceblue;
    background-color: orangered;
}